@import '../../styles//colors';

.main-menu {
    width: 15%;
    height: 92vh;
    background-color: $color-dark-green;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-item {
        color: $color-white;
        cursor: pointer;
    }
}